@model Uco.Models.Settings

@{
    ViewBag.Title = RP.T("Member.Views.RunCategoryUpdate.Index.Title");
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNoTree.cshtml";
}

<div>@RP.T("Member.Views.RunCategoryUpdate.Index.Message")</div>