@model List<string>
@{
    List<string> Items = new List<string>();
    string item1 = RP.GetSettingsRepositoryList().FirstOrDefault(r => r.DomainPageID == 1).SearchEventType;
    if (!string.IsNullOrEmpty(item1))
    {
        foreach (string item2 in item1.Replace("\r", "").Split('\n'))
        {
            Items.Add(item2.Trim());
        }
    }
    Items = Items.Distinct().OrderBy(r => r).ToList();
}
<div class="editor-label"><label for="@ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty)">סוג כנס</label></div>
<div class="clear"></div>
<div class="editor-field">
    @(Html.Kendo().MultiSelect()
        .Name(ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty))
        .Placeholder("בחר סוג כנס ...")
        .Value(Model)
        .BindTo(Items)
    )
</div>