@model Uco.Models.User
@{
    ViewBag.Title = RP.T("Admin.Views.User.Orders.Title");
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNoTree.cshtml";
}

<h2>@RP.T("Admin.Views.User.Orders.Title")</h2>


    @Html.ValidationSummary(true)
   @Html.Action("Grid", "Generic", new { Filed="UserID",ID=Model.ID, model="Order" })

    <p class="clear">

@Html.ActionLink(RP.T("Admin.Views.Command.BackToList").ToString(), "Index")
    </p>
