@model Uco.Models.Overview.ShopCommentModel

<div class="map_content_listing">
    <div class="qute_img">
        <img alt="" src="~/Content/DesignFiles/login_bt.png">
    </div>
    <div class="qute_left">
        <div class="heading">@Model.UserName</div>
        <div class="text1">@Model.Title</div>
        <div class="text1">
            @Model.Text
        </div>
    </div>
    <div class="clear"></div>
</div>
