@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Content/404/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/Content/404/css/style.css?v=3" media="screen">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="row page-wrapper">
    <div class="col-lg-12">
            <div class="container">
                <div class="col-lg-5 col-lg-offset-6 col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-4 min">
                    <div class="rtl">
                        <h1>
                        הודעה 404
                        </h1>
                    </div>
                    <div class="desc rtl">

<p  style=" margin-bottom: 0px !important;">
    העמוד שחיפשתם לא נמצא. לפחות לא פה...</p>
                        <p style="float:left; margin-bottom: 0px !important;">

                            או להשאר פה אם
                        </p>




                        <button class="tx_btn" onclick="location.href = '/';">לעמוד הבית</button>
<p style=" margin-bottom: 4px !important;">
    תוכלו לעבור
</p>
                        <p  >
                            מתחשק לכם קצת שקט...
                        </p>








                        <p class="author">
                        חיבוקים ונשיקות,
                    </p>
                    <p class="author">
                        צוות סל.קניות
                    </p>
                    </div>
                </div>
                <div class="col-lg-7 col-lg-offset-5 col-md-7 col-md-offset-5 col-sm-11 col-sm-offset-1 col-xs-12">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 flLeft motorino">
                        <img src="/Content/404/img/man.png" class="img-responsive pull-right man-image">
                    </div>
                    <div class="facbook_cont col-lg-8 col-lg-offset-1 col-md-7 col-sm-8 flLeft">
                        <div class="fb_link pull-right">
                            <div class="fb_cont">

                                <i class="fa fa-caret-left fa-3x"></i>



                                <p class="p1">
                                    אתם מוזמנים להצטרף אלינו בפייסבוק

                                </p>
                                <p class="p2">
                                    ונשמח לעזור לכם להפיג את הבדידות…
                                </p>
                                <img src="/Content/404/img/icon.gif" class="img-responsive fb">
                            </div>
                            <button class="btn btn-primary like">
                                @*<div class="fb-like" data-href="http://www.slk.co.il" data-layout="button" 
                                     data-action="like" data-show-faces="false" data-share="false"></div>*@
                                Like
                           </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="row wrapper_iner">
    <div class="col-lg-12">
        <p> קיבצנו מעט עמודים עבורכם. מקוים שתאהבו</p>

        <div class="row">
            <div class="span4"><img src="/Content/404/img/icon_1.gif" /></div>
            <div class="span4"><img src="/Content/404/img/icon_2.gif" /></div>
            <div class="span4"><img src="/Content/404/img/icon_3.gif" /></div>
            <div class="span4"><img src="/Content/404/img/icon_4.gif" /></div>
            <div class="span4"><img src="/Content/404/img/icon_5.gif" /></div>
            <div class="span4"><img src="/Content/404/img/icon_6.gif" /></div>
            <div class="span4"><img src="/Content/404/img/icon_7.gif" /></div>
            <div class="span4"><img src="/Content/404/img/icon_8.gif" /></div>
            <div class="span4"><img src="/Content/404/img/icon_9.gif" /></div>
            <div class="span4"><img src="/Content/404/img/icon_10.gif" /></div>
            <div class="span4"><img src="/Content/404/img/icon_11.gif" /></div>
            <div class="span4"><img src="/Content/404/img/icon_12.gif" /></div>
            <div class="span4"><img src="/Content/404/img/icon_13.gif" /></div>
        </div>

    </div>
</div>
<script src="/Content/404/js/jquery.min.js"></script>
<script src="/Content/404/js/bootstrap.min.js"></script>
</body>

</html>