
@{
    Layout = "~/Views/Shared/_Layout.Accordion.cshtml";
    ViewBag.Title = RP.T("Views.Shop.NoShop.ViewBagTitle");
    ViewBag.Url = "~/Shop/Index/";
}
<h1 class="main_heading_h1_profile">@RP.T("Views.Shop.LandingSelecyShop.NoShops")</h1>
@*<div class="content_page">
    <div class="editor_html">
     
    </div>
    <div class="clear"></div>
</div>*@
