@{

    ViewBag.Url = "~/Shop/Index/";
}
<div data-role="view" id="tabstrip-noshop" data-title="@RP.T("Views.Shop.Index.Mobile.LoginViewTitleText")" data-layout="mobile-layout" data-use-native-scrolling="true" class="k-rtl">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            <h1>@RP.T("Views.Shop.LandingSelecyShop.NoShops")</h1>
        </li>
    </ul>
</div>