@model Uco.Models.ContentPage
@{
   
}

<h1 class="main_heading_h1_profile">@Model.Title</h1>       
<div class="content_page">
    <div class="editor_html">
        @Html.Raw(Model.Text)
    </div>
    <div class="clear"></div>           
</div>
