@{
    ViewBag.Title = RP.T("Views.Account.ChangePasswordSuccess.ViewBagTitle");
    Layout = "~/Themes/Supertlv/Views/Shared/_LayoutEdit.cshtml";
}

<h2>@RP.T("Views.Account.ChangePasswordSuccess.ChangePassword")</h2>
<p>
    @RP.T("Views.Account.ChangePasswordSuccess.PasswordChangeSuccessfully")
</p>
