@model Uco.Models.NewsListPage
@{
    Layout = ViewBag.Layout;
}


<h1 class="main_heading_h1_profile">@ViewBag.H1</h1>
<div class="content_page">
    <div class="editor_html">
        @Html.Raw(Model.Text)
    </div>
    <div class="clear"></div>
    <ul>
        @foreach (Uco.Models.NewsPage item in ViewBag.Items)
        {
            <li><a href="@Url.Content(item.Url)">@item.Title</a></li>
        }
    </ul>
</div>
