@model Uco.Models.Shop
@{
    ViewBag.Title = RP.T("Admin.Views.Shop.Index.Title");
    Layout = "~/Areas/Member/Views/Shared/_LayoutNoTree.cshtml";

}
@if (!string.IsNullOrEmpty(ViewBag.Mesage))
{
    <div class="notification information">
        <div>
            @ViewBag.Mesage
        </div>
    </div>
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_EditOrCreate", Model)