<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--<location path="/ckfinder/userfiles">
    <system.webServer>
      <directoryBrowse enabled="true" />
    </system.webServer>

  </location>-->
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="Db" connectionString="Data Source=p7noi5lde5.database.windows.net,1433;Initial Catalog=sal_develop;User Id=sal@p7noi5lde5;Password=sdf76pyh3453456@;Trusted_Connection=False;Persist Security Info=True" providerName="System.Data.SqlClient" />-->
  <add name="Db" connectionString="Data Source=p7noi5lde5.database.windows.net,1433;Initial Catalog=sal;User Id=sal@p7noi5lde5;Password=sdf76pyh3453456@;Trusted_Connection=False;Persist Security Info=True;Connection Timeout=60;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--sdf76pyh3453456@-->
  <!--Server=tcp:p7noi5lde5.database.windows.net,1433;Database=sal;User ID=sal@p7noi5lde5;Password={your_password_here};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LogToSql" value="true" />
    <add key="LogToEmail" value="false" />
    <add key="LogToEmailName" value="error@yoursite.com" />
    <add key="DbMigrations" value="false" />
    <add key="DbDataLoss" value="false" />
    <add key="MailFrom" value="noreply@yoursite.com" />
    <add key="Languages" value="he-IL,en-US" />
    <add key="Skin" value="Black,BlueOpal,Bootstrap,Default,Flat,HighContrast,Metro,MetroBlack,Moonlight,Silver,Uniform" />
    <add key="SkinDefault" value="Bootstrap" />
    <add key="DisplayMode" value="" />
    <add key="UseMultiDomain" value="false" />
    <add key="UsePermissions" value="false" />
    <add key="UsePlugins" value="false" />
    <add key="UseThemes" value="true" />
    <add key="Profiler" value="false" />
    <add key="BannerGroup" value="ShopLeft,ShopRight" />
    <add key="UseMongo" value="true" />
    <add key="MongoConnection" value="mongodb://localhost:27017" />
    <add key="MongoDB" value="UcoDB" />
    <add key="CombineCss" value="false" />
    <add key="CombineJavaScript" value="false" />
    <add key="DisableFilters" value="true" />
    <add key="UseTasks" value="false" />
  </appSettings>
  <system.web>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/Error/Error404" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880">
        <credentials passwordFormat="Clear" />
      </forms>
    </authentication>
    <membership defaultProvider="UcoMembershipProvider" userIsOnlineTimeWindow="15" hashAlgorithmType="Clear">
      <providers>
        <add name="UcoMembershipProvider" type="Uco.Infrastructure.Providers.SUMembershipProvider" passwordFormat="Clear" connectionStringName="Db" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" writeExceptionsToEventLog="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="UcoRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="UcoRoleProvider" type="Uco.Infrastructure.Providers.SURoleProvider" connectionStringName="Db" applicationName="/" />
      </providers>
    </roleManager>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1" />
    <globalization enableClientBasedCulture="false" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" responseHeaderEncoding="UTF-8" enableBestFitResponseEncoding="false" culture="en-US" uiCulture="en-US" />

  </system.web>
  <system.webServer>
    <handlers>
      <add name="MiniProfiler" path="mini-profiler-resources/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>

  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>