@model dynamic
@using Uco.Infrastructure
@{
   
System.Type t = Model.GetType();

var ModelName = t.Name;
var gridName = t.Name+"grid";
}


{
    "width": "100px",
    "template": "# if(!Approved) { # "
+"<a class=\"k-button\" onclick=\"shopcommentApi.Approv(#= ID #);\">@RP.T("Admin.ShopComment.Accept")</a> # } #"
},
