<div class="payment_left1">
    <div class="payment_left_head"><span>@RP.T("Views.Checkout._AboutSSLProtocol.SSLSecureTitle")</span></div>
    <div class="payment_left_midd">@RP.T("Views.Checkout._AboutSSLProtocol.SSLSecureText")</div>
    <div class="payment_logos">
        <ul>
            <li><img src="~/Content/DesignFiles/payment_logo1.png" alt=""></li>
            <li><img src="~/Content/DesignFiles/payment_logo2.png" alt=""></li>
            <li><img src="~/Content/DesignFiles/payment_logo3.png" alt=""></li>
            <li><img src="~/Content/DesignFiles/payment_logo4.png" alt=""></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
