@model Uco.Models.Newsletter
@{
    ViewBag.Title = RP.T("Admin.Views.Newsletter.Index.Title"); 
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNoTree.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.DisplayForModel()

<p>
    @Html.ActionLink(@RP.T("Admin.Views.Command.BackToList").ToString(), "Index")
</p>
